In [2]:
import pandas as pd

filename='portalTest.csv'
df=pd.read_csv(filename)

In [3]:
df.head()

  operators technology test_type  speed signal_strength service_area  Quality
0    AIRTEL         4G  download   4794             -53      UP East  Perfect
1    AIRTEL         4G    upload    536             -59      UP East  Perfect
2       JIO         4G  download  38507             -59      UP West  Perfect
3       JIO         4G  download  78938             -59      UP West  Perfect
4       JIO         4G    upload   3560             -59      UP West  Perfect

In [4]:
df.tail()

,operators,technology,test_type,speed,signal_strength,service_area,Quality
523751,JIO,4G,download,14941,na,Delhi,NaN
523752,AIRTEL,4G,download,616,na,Delhi,NaN
523753,JIO,4G,download,4528,na,Delhi,NaN
523754,AIRTEL,4G,download,2080,-85,Kerala,NaN
523755,AIRTEL,4G,upload,421,-85,Kerala,NaN

In [5]:
df.dtypes

operators          object
technology         object
test_type          object
speed               int64
signal_strength    object
service_area       object
Quality            object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523756 entries, 0 to 523755
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   operators        523756 non-null  object
 1   technology       523756 non-null  object
 2   test_type        523756 non-null  object
 3   speed            523756 non-null  int64
 4   signal_strength  523756 non-null  object
 5   service_area     519085 non-null  object
 6   Quality          601 non-null     object
dtypes: int64(1), object(6)
memory usage: 28.0+ MB

In [7]:
df.shape

(523756, 7)

In [8]:
df['operators'].head()

0    AIRTEL
1    AIRTEL
2       JIO
3       JIO
4       JIO
Name: operators, dtype: object

In [9]:
df[['operators']].head()

  operators
0    AIRTEL
1    AIRTEL
2       JIO
3       JIO
4       JIO

In [10]:
df[['operators']].head()

  operators
0    AIRTEL
1    AIRTEL
2       JIO
3       JIO
4       JIO

In [11]:
df['operators'].value_counts()

JIO         267401
AIRTEL      158725
VODAFONE     41450
IDEA         41125
CELLONE      15055
Name: operators, dtype: int64

In [12]:
filters=df['operators']=='JIO'

In [13]:
df[filters].head()

  operators technology test_type  speed signal_strength service_area  Quality
2       JIO         4G  download  38507             -59      UP West  Perfect
3       JIO         4G  download  78938             -59      UP West  Perfect
4       JIO         4G    upload   3560             -59      UP West  Perfect
5       JIO         4G    upload   5446             -59      UP West  Perfect
6       JIO         4G  download  80419             -60      UP West  Perfect

In [14]:
df_copy=df[filters]

In [15]:
df_copy.head()

  operators technology test_type  speed signal_strength service_area  Quality
2       JIO         4G  download  38507             -59      UP West  Perfect
3       JIO         4G  download  78938             -59      UP West  Perfect
4       JIO         4G    upload   3560             -59      UP West  Perfect
5       JIO         4G    upload   5446             -59      UP West  Perfect
6       JIO         4G  download  80419             -60      UP West  Perfect

In [16]:
df_copy['operators'].value_counts()

JIO    267401
Name: operators, dtype: int64

In [17]:
(df_copy['signal_strength']=='-62').value_counts()

False    261681
True       5720
Name: signal_strength, dtype: int64

In [18]:
filtersignal=df_copy['signal_strength']=='-62'

In [19]:
df_final=df_copy[filtersignal]

In [20]:
df_final.head()

   operators technology test_type  speed signal_strength service_area  Quality
8        JIO         4G  download   6550             -62    Rajasthan  Perfect
9        JIO         4G  download   5900             -62    Rajasthan  Perfect
10       JIO         4G    upload   7643             -62    Rajasthan  Perfect
11       JIO         4G    upload   5102             -62    Rajasthan  Perfect
24       JIO         4G  download  39125             -62      Gujarat  Perfect

In [21]:
df_final.count()

operators          5720
technology         5720
test_type          5720
speed              5720
signal_strength    5720
service_area       5715
Quality               6
dtype: int64

In [22]:
df_final=df_final.rename(columns={'Quality' : 'quality'})

In [23]:
df_final.head()

   operators technology test_type  speed signal_strength service_area  quality
8        JIO         4G  download   6550             -62    Rajasthan  Perfect
9        JIO         4G  download   5900             -62    Rajasthan  Perfect
10       JIO         4G    upload   7643             -62    Rajasthan  Perfect
11       JIO         4G    upload   5102             -62    Rajasthan  Perfect
24       JIO         4G  download  39125             -62      Gujarat  Perfect

In [25]:
df_final=df_final.drop(columns={'quality'})

In [26]:
df_final.head()

   operators technology test_type  speed signal_strength service_area
8        JIO         4G  download   6550             -62    Rajasthan
9        JIO         4G  download   5900             -62    Rajasthan
10       JIO         4G    upload   7643             -62    Rajasthan
11       JIO         4G    upload   5102             -62    Rajasthan
24       JIO         4G  download  39125             -62      Gujarat

In [27]:
df_final['speed'].sum()

171510100

In [1]:
df_final['speed'].isna().sum()

NameError: name 'df_final' is not defined

In [30]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5720 entries, 8 to 523697
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   operators        5720 non-null   object
 1   technology       5720 non-null   object
 2   test_type        5720 non-null   object
 3   speed            5720 non-null   int64
 4   signal_strength  5720 non-null   object
 5   service_area     5715 non-null   object
dtypes: int64(1), object(5)
memory usage: 312.8+ KB

In [35]:
df_final['service_area'].isna().sum()

5

In [38]:
df_final=df_final.dropna(how = 'any')

In [40]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5715 entries, 8 to 523697
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   operators        5715 non-null   object
 1   technology       5715 non-null   object
 2   test_type        5715 non-null   object
 3   speed            5715 non-null   int64
 4   signal_strength  5715 non-null   object
 5   service_area     5715 non-null   object
dtypes: int64(1), object(5)
memory usage: 312.5+ KB

In [42]:
df_final.to_csv(path_or_buf ='final.csv', index= False)